* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
/* html */
:root {
  --main-font: Lato-Regular;
  --second-font: Lato-Italic;
  --main-color: #fff;
  --second-color: #425e82;
}
*::selection{
  background: var(--second-color);
  color: var(--main-color);
}
html{
  font-size: 62.5%;
  overflow-x: hidden;

}

@font-face {
  font-family: Lato-Regular;
  src: url("../font/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato-Light;
  src: url("../font/Lato/Lato-Light.ttf");
}
@font-face {
  font-family: Lato-Bold;
  src: url("../font/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: Lato-Italic;
  src: url("../font/Lato/Lato-Italic.ttf");
}
main{
  height: 100vh;
  overflow: hidden;
 }

section{
  height: 100vh;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  max-width: 100vw;
  /* overflow: hidden; */
  /* scroll-snap-align: start; */
}





/* NAV BAR */
header {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 100;
}
.nav-bar-container .nav-bar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-bar li {
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  padding: .2rem;
}
.nav-bar li a {
  display: block;
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.5rem;
  font-family: var(--second-font);
  text-align: center;
  letter-spacing: 0;
  transition: transform 0.2s ease-in;
}
.nav-bar li a:hover {
  text-decoration: none;
  transform: scale(1.1);
}
.underline {
  width: 0;
  transition: width 0.6s ease-in-out;
}
.nav-bar li a:hover ~ .underline {
  border-radius: 80px;
  width: 100%;
  background-color: var(--main-color);
  height: 0.2rem;
  margin-top: 0.2rem;
}
header #toggle {
  display: none;
  color: var(--main-color);
  font-size: 3rem;
  text-align: right;
  padding: 0.5rem 1rem 0px 2rem;
  cursor: pointer;
}
header li.active .underline{
  border-radius: 80px;
  width: 100%;
  background-color: var(--main-color);
  height: 0.2rem;
  margin-top: 0.2rem;

}
/* HOME */

#home .carousel-caption {
  position: absolute;
  display: inline-block;
  left: 10%;
  top: 36%;
  color: var(--main-color);
  text-align: left;
}

#home .home-content h1 {
  display: inline-block;
  width: auto;
  font-size: 2.5rem;
  font-family: var(--main-font);
  line-height: 3.2rem;
  font-weight: 700;
}
#home .home-content h1:first-child {
  margin-bottom: 0;
}
#home .home-content i,
p {
  display: inline-block;
  font-family: var(--main-font);
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin: 0;
}
#home .caption-2 {
  text-align: center;
}
#home .caption-3 {
  text-align: right;
}

/* ABOUT */
#about {
  display: flex;
  /* min-height: 100vh;
  width: 100vw; */
  
}
#about > .left {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url("../images/avatar.jpg");
  background-position: center center;
  background-size: cover;
  width: 40%;
}

#about > .left > div:first-child > h1{
  color: var(--second-color);
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 1.7rem -1.7rem 0.5rem var(--main-color);
}
#about > .left > div:first-child{
    width: 72%;
    height: 75%;
    margin: auto;
    position: relative;
    top: 46%;
    transform: translateY(-50%);
}
#about > .left .avatar {
  width: 100%;
  height: 100%;
  background-image: url("../images/avatar.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 1.5rem;
}

#about > .left > .name {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 15%;
  width: 70%;
  height: 6rem;
  background-color: var(--second-color);
  border-radius: 0 1rem 1rem 0;
}
#about > .left > .name h1 {
  font-size: 2rem;
  color: var(--main-color);
  line-height: 3rem;
  font-weight: 900;
  padding-left: 2rem;
  height: 50%;
  margin: 0;
}
#about > .left > .name h2 {
  font-size: 1.5rem;
  font-family: var(--second-font);
  color: var(--main-color);
  font-weight: 600;
  padding-left: 2rem;
  line-height: 3rem;
  height: 50%;
  margin: 0;
}
#about > .right {
  width: 60%;
  display: flex;
}

#about > .right .left-of-right{
  width: 10%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.a {
  position: relative;
  width: 9rem;
  height: 9rem;
  background: none;
  border-radius: 0 1.5rem 1.5rem;
  overflow: hidden;
  margin-top: 4rem;
  transform: translate(-50%,0);
}
.b {
  position: absolute;
  width: calc(100%/1.2);
  height: calc(100%/1.2);
  box-shadow: 0 0 0 999px #425E82;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.b1{
  box-shadow: 0 0 0 999px #637996;
}

.b2{
  box-shadow: 0 0 0 999px #8494AA;
}

.c {
  position: absolute;
  left: calc(100%/3);
  width: calc(100%/7.5);
  height:  calc(100%/7.5);
  background: #425E82;
  border-radius: 50%;
}

.c1{
  background: #637996;
}

.c2{
  background: #8494AA;
}

.d {
  position: absolute;
  top: calc(100%/3);
  width: calc(100%/7.5);
  height:  calc(100%/7.5);
  background: #425E82;
  border-radius: 50%;
}

.d1{
  background: #637996;
}
.d2{
  background: #8494AA;
}


.e {
  position: absolute;
  transform: translate(-50%, -50%);
  width: calc(  100%*15/13/3*2 - 100%*15/13/7.5/2*2 );
  height:calc(  100%*15/13/3*2 - 100%*15/13/7.5/2*2 );
  border-radius: 50%;
  background: none;
  box-shadow: 0 0 0 999px #425E82;
}

.e1{
  box-shadow: 0 0 0 999px #637996;
}

.e2{
  box-shadow: 0 0 0 999px #8494AA;
}
.f {
  position: absolute;
  left:  calc((100%/7.5)/2);
  top: calc((100%/7.5)/2);
  width: calc(100% - (100%/7.5));
  height: calc(100% - (100%/7.5));
  background: none;
  overflow: hidden;
}

#about .right .left-of-right .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#about .right .left-of-right .content p{
  margin: 0;
  font-size: 1rem;
  color: var(--main-color);
}

#about .right .left-of-right .content p:nth-child(2){
  margin: 0;
  font-size: 1.2rem;
  color: var(--main-color);
}

.a>i{
  display: block;
  font-size: 1.4rem;
  position: absolute;
  color: #425E82;
  top: 0.2rem;
  left: 0.2rem;
}

#i1{
  color: #637996;
}
#i2{
  color: #8494AA;
}
#about > .right .right-of-right{
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 10rem;
}

#about > .right .right-of-right .title:not(title:first-child){
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}


#about > .right .right-of-right .title .icon{
  display: inline-block;
}

#about > .right .right-of-right .title .icon>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-of-right-1 p{
  font-size: 1.5rem;
  font-family: var(--main-font);
  font-weight: 600;
}
.right-of-right-1 .title p:first-child{
  font-size: 1.2rem;
  font-family: var(--second-font);
  font-weight: normal;
}

.right-of-right-1 .icon i{
  font-size: 1.8rem;
  color: var(--second-color);
}
.right-of-right-1 .icon {
  padding-top: .3rem;
  padding-left: .5rem;
}
#about > .right .right-of-right .right-of-right-2{
  /* height: 25%; */
  margin-top: 10rem;
}

.right-of-right-2 aside{
    display: block;
    position: relative;
}

.right-of-right-2 aside h3 {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: var(--second-color);
  line-height: 2rem;
}
.right-of-right-2 aside p {
  font-size: 1.5rem;
}
/* LANGUAGE  */
.page{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0;
}



.page-title{
  flex:0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title>h1{
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--second-color);
  font-size: 3rem;
  font-weight: 900;
}
.page-content{
  flex: 0.8;
  display: flex;
  align-items: center;
}



.card{
  margin-top: auto;
  margin-bottom: auto;
  width: 100vw;
  border: none;
}

.slick-slide img{
  margin: 0 auto;
  max-width: 15rem;
  margin-bottom: 2rem;
  max-height: 15rem;

}
.item{
  padding: 1rem;
  outline:none;
 
}

.item-inner{
  background: linear-gradient(45deg, #ff6600, #fff000);
  border-radius: 1.8rem;
  text-align: center;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),0 6px 20px rgba(0, 0, 0, 0.19); 
}

.item2 .item-inner{
  background: linear-gradient(45deg, #0060ff, #fe0ff0);
}
.item3 .item-inner{
  background: linear-gradient(45deg, #00c0ff, #5ad607);
}
.item4 .item-inner{
  background: linear-gradient(45deg, #ffd200, #07d676);
}
.item5 .item-inner{
  background: linear-gradient(45deg, #0b618a, #07d6b9);
}
.item6 .item-inner{
  background: linear-gradient(45deg, #0060ff, #07d6b9);
}

.slick-slide .img{
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slide{
transform: scale(0.9);
opacity: 0.3;
transition: all ease .8s ;
}
.slick-slide.slick-current{
transform: scale(1);
opacity: 1;
}

.slick-arrow{
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 100;
border: none;
font-size: 3rem;
cursor: pointer;
}
.slider .right-arrow{
right: 1rem; 
}

.slider .left-arrow{
left: 1rem;
}

.item .box-info{
color:white;
}
.slick-slider{
 
  background: #f7f7f7;
  
}


/* PROJECT */
.project .page-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .row-wrapper{
  text-align: center;
  width: 100%;
}


.project .wrapper{
  display: inline-block;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 2rem;
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
}
.project>div{
  display: flex;
  flex-direction: column;
}
.circle-title{
  margin-top: 2rem;
  font-size: 2rem;
}
.skill{
  display: inline-block;
  position: relative;
}
.outer{
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  box-shadow: .6rem .6rem 1rem -0.1rem rgba(0, 0, 0, 0.15),
  -.6rem -.6rem 1rem -.1rem rgba(255, 255, 255, 0.7) ;
  padding: 2rem;
}
.inner{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset .4rem .4rem .6rem -.1rem rgba(0, 0, 0, 0.2),
  inset -.4rem -.4rem .6rem -.1rem rgba(255, 255, 255, 0.7),
  -.05rem -.05rem 0  rgba(255, 255, 255, 1),
  .05rem .05rem 0  rgba(0, 0, 0, 0.15),
  0 1.2rem 1rem -1rem  rgba(0, 0, 0, 0.05);
}
.number{
  font-weight: 600;
  color: #555;
  font-size: 3rem;
}
.note{
  display: block;
  word-wrap: break-word;
}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 2rem;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  /* animation: animate 2s linear forwards; */
}
svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 16rem;
}
@keyframes animate {
  100%{
    stroke-dashoffset: 190;
  }
}

/* CONTACT */


.contact .personal {
  padding: 5rem;
}
#contact .phone {
  display: flex;
  margin-bottom: 6rem;
}
#contact .phone:last-child {
  margin-bottom: 0;
}

#contact .phone .contact-icon {
  display: flex;
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid white;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}
#contact .phone .contact-icon i {
  color: var(--second-color);
  font-size: 3rem;
}

#contact .phone > div p {
  display: block;
  padding-left: 4rem;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}
#contact .phone > div p:nth-child(2) {
  font-weight: bold;
  font-size: 1.7rem ;
}
/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer .footer-content p{
  display: block;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.footer-icon{
 margin-top: 3rem;
}
.footer-icon a{
  padding: 1.2rem;
 }
.footer a:hover i {
  transition: transform 0.3s ease-in-out;
}

.footer a:hover i {
  transform: scale(1.3);
}

#back-to-top {
  display: inline-block;
  color: var(--second-color);
  text-align: center;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
}
#back-to-top > i {
  font-size: 3vw;
  transition: transform 0.3s ease-in;
}
#back-to-top > i:hover {
  transform: scale(1.3);
}

/* RESPONSIVE */

@media only screen and (max-width: 1200px){
  @keyframes animate {
    100%{
      stroke-dashoffset: 270;
    }
  }
  html{
    font-size: 50%;
  }
  .a {
    width: 7rem;
    height: 7rem;
  }
  /* LANGUAGE */
  .language .slick-arrow{
    position: absolute;
    display: inline-block;
    bottom: 0;
    z-index: 99;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
  }
}
@media only screen and (max-width: 992){

  html{
    font-size: 40%;
  }
  .a {
    width: 6rem;
    height: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  html{
    font-size: 65%;
    width: 100vw;
    background: #000;
  }
  body{
    width: 100vw;
  }
  @keyframes animate {
    100%{
      stroke-dashoffset: 350;
    }
  }
  
  
}

.anim, .anim1, .anim2, .anim3, .anim4, .anim5{
  opacity: 0;
}


@keyframes anim {
  from{
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  to{
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}
@keyframes anim1 {
  from{
    transform: translateY(30rem);
    opacity: 0;
  }
  to{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes anim2 {
  from{
    transform: translateX(200px);
    opacity: 0;
  }
  to{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes anim3 {
  from{
    transform: translateX(-200px);
    opacity: 0;
  }
  to{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes anim4 {
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes anim5 {
  from{
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  to{
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}


